
body{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.myh{
    color: black;
    font-weight: bold;
    text-shadow: 5px -4px 5px black;
    margin-top: 100px;
    text-align: center;
    color: white;
}
.card{
    border-radius: 20px;
    padding: 10px !important;
    text-align: center;
    background: rgb(123,251,197);
    /* color: white !important; */
    background-color: transparent;
}
.card ul li{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    list-style: decimal;
}
form input{
    background-color:white ;
    margin-top: 10px;
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 10px ;
}

form input:focus{
    border: 1px solid  black;
}
form button{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(210, 18, 18);
font-size: 18px;
    color: white;
    font-weight: bold;
    
}
form button:hover{
    
    background-color: rgb(158, 10, 10);
}
